# 1. 가상환경 폴더 (절대 올리면 안 됨)
.venv/
env/
venv/

# 2. 데이터셋 및 압축파일 (용량이 커서 안 올라감)
data/
*.zip
*.csv

# 3. 파이썬 자동 생성 파일 (필요 없는 쓰레기 파일)
__pycache__/
*.pyc

# 4. VS Code 설정 폴더 (내 컴퓨터 설정이라 공유 필요 없음)
.vscode/

# 5. 주피터 노트북 체크포인트
.ipynb_checkpoints/

# 6. (혹시 모를) 비밀 키 파일
kaggle.json
.env